body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #eaeaea;
  padding: 16px 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 70px;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: #0366d6;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

.nav-icon {
  height: 30px;
  vertical-align: middle;
}

header {
  background-color: #24292e;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #24292e;
  margin-left: 30px;
}
h2 {
  color: #24292e;
}

section p {
  background-color: #eaeaea;
  margin: 10px 0;
  padding: 10px;
  border-left: 5px solid #0366d6;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #24292e;
  color: white;
}
